<div class="form_content">
    <div class="select_content">
        <div>
            <select class="day_select" [(ngModel)]="selectedDay">
                <option value="">Выберите день</option>
                <option value="monday">Пн</option>
                <option value="tuesday">Вт</option>
                <option value="wednesday">Ср</option>
                <option value="thursday">Чт</option>
                <option value="friday">Пт</option>
                <option value="saturday">Суб</option>
                <option value="sunday">Вс</option>
            </select>
            <select class="importance_select" [(ngModel)]="priority">
                <option [ngValue]="false">Не важно</option>
                <option [ngValue]="true">Важно</option>
            </select>
        </div>
        <div>
            <input class="description_input" type="text" [(ngModel)]="taskTitle" placeholder="Описание">
        </div>
    </div>
    <button class="add_btn" (click)="addTask()">Добавить</button>
</div>
