
<div class="form_content">
    <div class="select_content" >
        <div class="">
            <select class="day_select">
                <option value="">Выберите день</option>
                <option value="monday">Пн</option>
                <option value="tuesday">Вт</option>
                <option value="wednesday">Ср</option>
                <option value="thursday">Чт</option>
                <option value="friday">Пт</option>
                <option value="saturday">Суб</option>
                <option value="sunday">Вс</option>
            </select>
            <select class="importance_select">
                <option value="">Выберите важность</option>
                <option value="important">Важно</option>
                <option value="no_matter">Не важно</option>
            </select>
    
        </div>
        <div>
            <input class="description_input" type="text" placeholder="Описание">
        </div>


        </div>

    <button class="add_btn">Добавить</button>

</div>