<div class="task_list_content">
     @for(task of tasks; track task.idDay){
        @if (task.tasks.length > 0) {
            <div class="task_content"> 
                <div class="day_name_fied"> 
                    <h1>{{ task.dayTitle}}</h1> 
                </div> 
                <div class="task_field"> 
                    @for(taskElem of task.tasks; track taskElem.idTask){ 
                        <div class="task_elem" [style.background-color]="taskElem.priority ? '#E74C3C' : '#1ABC9C'"> 
                            <h2>{{ taskElem.titleTask}}</h2> 
                            <img class="delete_icon" src="../../assets/deleteImg" (click)="deleteTask(task.idDay, taskElem.idTask)"/> 
                        </div> } 
                    </div> 
                <!-- <img class="delete_icon" src="../../assets/deleteImg.png"  /> -->
    </div>

        }

}

